@font-face {
  font-family: "iconfont";
  /* Project id 4973858 */
  src: url('./../assert/font/iconfont.woff2?t=1752453721767') format('woff2'),
    url('./../assert/font/iconfont.woff?t=1752453721767') format('woff'),
    url('./../assert/font/iconfont.ttf?t=1752453721767') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nickname:before {
  content: "\e608";
}

.icon-account:before {
  content: "\e67e";
}

.icon-input-password:before {
  content: "\e657";
}

.icon-password:before {
  content: "\e726";
}